* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  color: var(--grey-color);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--orange-color);
}

li {
  list-style-type: none;
}

.second-ul li a {
  color: var(--grey-color);
  margin-left: 15px;
}

hr {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 35px;
  color: var(--orange-color);
  border: 2px solid var(--orange-color);
  width: 200px;
}

@media (min-width: 428px) {
  .content {
    max-width: 300px;
  }
  .images img {
    height: 100px;
  }
}
@media (min-width: 810px) {
  .content {
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .content {
    max-width: 1140px;
  }
}
