.dark-mode {
  background-color: #121212ef;
  color: white;
}

.dark-mode h3 {
  color: white;
}

.dark-mode .second-ul li a {
  color: white;
}

#changeThemeBtn {
  font-size: 15px;
  border: none;
  top: 20px;
  left: 20px;
  position: absolute;
  color: var(--orange-color);
  background-color: rgba(240, 248, 255, 0);
}

#changeThemeBtn:hover {
  cursor: pointer;
}
